<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head', { style: "cart.css", title: "Cart" }) %>

  <body class="bg-white">

    <%- include ('../partials/header') %>

      <main>
        <h1>Carrito de compras</h1>
        <form action="">

          <section class="cart-container">
            <div class="product-cart-container">

              <div class="img">
                <img src="/img/products/<%= product.image %> " alt="">
              </div>

              <div class="text-container-cart">

                <div class="product-name">
                  <h3> <%= product.name %> </h3>
                  <i class="fas fa-times color-negro"></i>
                </div>

                <p> <%= product.description %> </p>

                <div class="input-price">
                  <input type="number">
                  <h3><%= product.price %> </h3>
                </div>

              </div>
            </div>
            

          </section>
          <section class="total-container">
            <div class="subtotal">
              <h4>Subtotal</h4>
              <h4><%= product.price %> </h4>
            </div>
            <div class="descuento">
              <h4>Descuentos</h4>
              <h4>$0</h4>
            </div>
            <div class="total-compra">
              <h3>TOTAL</h3>
              <h3><%= product.price %> </h3>
            </div>

          </section>

          <button class="comprar button-amarillo">Comprar</button>

        </form>
      </main>

      <%- include('../partials/footer') %>

  </body>

</html>