<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head', { style: "cart.css" , title: "Cart" }) %>

  <body class="bg-white">

    <%- include ('../partials/header') %>

      <main>
        <h1>Carrito de compras</h1>
        <% let priceQuantity=0 %>
          <% let price=0 %>
            <form action="/cart">
              <% productsAddCart.forEach(item=>{%>
                <section class="cart-container">
                  <div class="product-cart-container">
                    <div class="img">
                      <img src="/img/products/<%= item.image %> " alt="" />
                    </div>

                    <div class="text-container-cart">
                      <div class="product-name">
                        <h3>
                          <%= item.name %>
                        </h3>
                        <i class="fas fa-times color-negro"></i>
                      </div>

                      <p>
                        <%= item.description %>
                      </p>

                      <div class="input-price">
                        <input type="number" name="quantity" min="0" max="<%= item.stock %>" class="quantity"
                          value="<%= item.quantity %>" onchange="submit()" />
                        <% priceQuantity+=item.price * item.quantity %>
                          <% price=item.price %>
                            <h3 class="priceUnit" value="<%= item.price %>">
                              <%= item.price %>
                            </h3>
                      </div>
                    </div>
                  </div>
                </section>
                <% }) %>
            </form>
            <form action="/checkout/process" method="post">
              <section class="total-container">
                <div class="subtotal">
                  <h4>Subtotal</h4>
                  <h4 class="price" value="<%= price %> ">
                    <%= priceQuantity %>
                  </h4>
                </div>
                <div class="descuento">
                  <h4>Descuentos</h4>
                  <h4>
                    <%= priceQuantity*2/100 %>
                  </h4>
                </div>
                <div class="total-compra">
                  <h3>TOTAL</h3>
                  <h3 class="price" value="<%= price %> ">
                    <%= priceQuantity - priceQuantity*2/100 %>
                  </h3>
                </div>
              </section>
              <button class="comprar button-amarillo">Comprar</button>
            </form>
      </main>

      <%- include('../partials/footer') %>

  </body>

</html>