<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head', { style: "products-index.css" , title: "Create product" }) %>

  <body>


    <%- include ('../partials/header') %>

      <main>

        <h1 class="color-verde-oscuro titular-banner"> Nuestros <strong>productos</strong> </h1>
        <h2 class="color-verde-claro titular-banner">Categorías principales</h2>
        <div class="desplegable-categorias">
         
          <ul class="categorias">
            <% productCategory.forEach(category => { %>
              <li><a href="#<%= category.type %>"><%= category.type %> Roast</a></li>
              <% }) %>
            
          </ul>
        </div>

        

        <div class="categories-container">
         <% productCategory.forEach(category => { %>
          <section class="blonde"><a name="<%= category.type %>"></a>
            <h2 class="color-verde-oscuro"><strong><%= category.type %> </strong> Roast </h2>
            <div class="container-products-cards">

              <% category.products.forEach(product=> { 
                %>
                <article class="card-container">
                  <img src="/img/products/<%=product.image%>" alt="">
                  <div class="text-card">
                    <h5 class="black">
                      <%= product.name %>
                    </h5>
                    <p>Proveniente de <%= product.region %>.</p>
                    <div class="precio">
                      <h5 class="black">$<%= product.price %>
                      </h5>
                      <a class="color-amarillo sin-estilos" href="/product/detail/<%=product.id%>">Ver más...</a>
                    </div>

                  </div>

                </article>
                <% }); %>
            </div>
          </section>
         <% }) %>
          
       
          
         
         

          

        </div>
      </main>




      <%- include('../partials/footer') %>

  </body>

</html>