<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head', {style: 'product-detail.css', title:
  'Product'}) %>
  <body class="bg-white">
    <%- include ('../partials/header') %>

    <main>
      <div class="img-mobile">
        <div class="fondo bg-verde-oscuro"></div>
        <img
          src="/img/products/<%= product.image %>"
          alt="promo-medium-roast"
        />
      </div>
      <div class="img-web">
        <img
          src="/img/products/<%= product.image %>"
          alt="promo-medium-roast"
        />
      </div>
      <div class="text-container">
        <div class="text">
          <h3><%= product.region %> | <%= product.category %></h3>
          <h1><%= product.name %></h1>
          <p><%= product.description %></p>
        </div>
        <form action="">
          <div class="inputs-container">
            <div class="peso">
              <label for="weight">Peso</label>
              <select name="weight" id="weight">
                <% let weight = product.weight %>
                <% for (let i = 0; i <weight.length; i++) { %>
                  <option value="<%= weight[i] %>"><%= weight[i] %></option>
               <% } %>
                
              </select>
            </div>
            <div class="molienda">
              <label for="grind">Molienda</label>
              <select name="grind" id="grind">
                <% let grind = product.grind %>
                <% for (let i = 0; i <grind.length; i++) { %>
                  <option value="<%= grind[i] %>"><%= grind[i] %></option>
               <% } %>
              </select>
            </div>
            <img
              class="heart"
              src="/img/iconos/corazon.svg"
              alt="agregar-a-favoritos"
            />
          </div>
          <div class="price">
            <h2>$<%= product.price %></h2>
            <button class="agregar button-amarillo" type="submit">
              Agregar <i src="/img/iconos/bolso-white.svg"></i>
            </button>
          </div>
        </form>
        <% if(locals.isAdmin) { %> 
        <div class="edit-delete-buttons">
          <a href="/product/edit/<%=product.id%>"
            ><button class="secundary-button">Editar</button></a
          >
          <form
            action="/product/delete/<%=product.id%>?_method=DELETE"
            method="POST"
          >
            <button type="submit" class="secundary-button">Eliminar</button>
          </form>
          <% } %> 
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
