<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head', {style: "product-create.css",
  title: "Edit product",}) %>
  <body>
    <%- include ('../partials/header') %>

    <main>
      <div class="header">
        <img class="isotipo" src="/img/iconos/isotipo.svg" alt="" />
        <h2 class="carga-prod">Edita este producto:</h2>
      </div>
      <form
        action="/edit/<%= product.id %>?_method=put"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-container">
          <div class="izquierda">
            <label for="product-name">Nombre del producto:</label>
            <input
              class="input"
              type="text"
              name="name"
              value="<%= product.name %> "
            />
            <div class="cat-region .alineacion-horizontal">
              <label for="category">Categoría:</label>
              <select class="input" name="category" id="category">
                <option value="blonde"<%= product.category === "blonde" ? "selected" : "" %> >Blonde roast</option>
                <option value="medium"<%= product.category === "medium" ? "selected" : "" %> >Medium roast</option>
                <option value="dark"<%= product.category === "dark" ? "selected" : "" %> >Dark roast</option>
              </select>
              <div class="region alineacion-centro-flex">
                <label for="region">Región:</label>
                <input
                  class="input"
                  type="text"
                  name="region"
                  value="<%= product.region %>"
                />
              </div>
            </div>
            <div class="description alineacion-centro-flex">
              <label for="description">Descripción:</label>
              <textarea name="description" id="description" cols="30" rows="10">
<%= product.description %>
              </textarea>
            </div>
          </div>
          <div class="derecha alineacion-centro-flex">
            <div class="checks">
              <div class="grind">
                <label for="grind"> Molienda:</label>
                
                <p>
                    <input type="checkbox" name="grind" value="Grano entero"<%= Array.isArray(product.grind) ? callBackGrind("Grano entero") : callBackObjetoGranos("Grano entero") %> />
                  Grano entero
                </p>
                <p>
                  <input type="checkbox" name="grind" value="Espresso"<%= Array.isArray(product.grind) ? callBackGrind("Espresso") : callBackObjetoGranos("Espresso")%> />
                  Espresso
                </p>
                <p>
                  <input type="checkbox" name="grind" value="Filtro"<%= Array.isArray(product.grind) ? callBackGrind("Filtro") : callBackObjetoGranos("Filtro") %> /> Filtro
                </p>
              </div>
              <div class="weight">
                <label for="weight">Peso:</label>
               <p>
                  <input type="checkbox" name="weight" value="250g"<%= Array.isArray(product.weight) ? callBackWeight("250g") : callBackObjetoWeight("250g") %> /> 250g
                </p>
                <p>
                  <input type="checkbox" name="weight" value="500g"<%= Array.isArray(product.weight) ? callBackWeight("500g") : callBackObjetoWeight("500g") %> /> 500g
                </p>
                <p>
                  <input type="checkbox" name="weight" value="1kg"<%= Array.isArray(product.weight) ? callBackWeight("1kg") : callBackObjetoWeight("1kg") %> /> 1kg
                </p>
              </div>
            </div>
            <div class="file">
              <label for="file">Sube una imagen:</label>
              <input type="file" name="editImage" id="file" />
            </div>

            <div class="price-button width-100">
              <div>
                <label for="price">Precio:</label>
                <input
                  class="input"
                  type="number"
                  name="price"
                  id="price"
                  value="<%= product.price %>"
                />
              </div>

              <button class="secundary-button" type="reset">Borrar</button>
              <button class="send button-amarillo" type="submit">
                Cargar producto
              </button>
            </div>
          </div>

          
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
