<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head', {style: 'product-detail.css' , title: 'Product' }) %>

  <body class="bg-white">
    <%- include ('../partials/header') %>

      <main>
        <div class="img-mobile">
          <div class="fondo bg-verde-oscuro"></div>
          <img src="/img/products/<%= product.image %>" alt="promo-medium-roast" />
        </div>
        <div class="img-web">
          <img src="/img/products/<%= product.image %>" alt="promo-medium-roast" />
        </div>
        <div class="text-container">
          <div class="text">
            <h3>
              <%= product.region %> | <%= product.productCategory.type %>
            </h3>
            <h1>
              <%= product.name %>
            </h1>
            <p>
              <%= product.description %>
            </p>
          </div>
          <section>
            <div class="inputs-container">
              <div class="peso">
                <label for="weight">Peso</label>
                <select name="weight" id="weight">
                  <% let weights=product.weight %>
                    <% weights.forEach(weight=> { %>
                      <option value="<%= weight.weight %>">
                        <%= weight.weight %>g
                      </option>
                      <% }) %>

                </select>
              </div>
              <div class="molienda">
                <label for="grind">Molienda</label>
                <select name="grind" id="grind">
                  <% let grinds=product.grinds %>
                    <% grinds.forEach(grind=> { %>
                      <option value="<%= grind.grind %>">
                        <%= grind.grind %>
                      </option>
                      <% }) %>
                </select>
              </div>
              <img class="heart" src="/img/iconos/corazon.svg" alt="agregar-a-favoritos" />
            </div>
            <div class="price">
              <h2>$<%= product.price %>
              </h2>
              <a href="/cart/add/<%=product.id%>"><button class="agregar button-amarillo">
                  Agregar </button></a>
            </div>

          </section>

          <% if(locals.isAdmin) { %>
            <div class="edit-delete-buttons">
              <a href="/product/edit/<%=product.id%>"><button class="secundary-button">Editar</button></a>
              <form action="/product/delete/<%=product.id%>?_method=GET" method="GET">
                <button type="submit" class="secundary-button">Eliminar</button>
              </form>
              <% } %>
            </div>
        </div>
      </main>

      <%- include('../partials/footer') %>
  </body>

</html>