<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head', {style: 'profile.css' , title:'User search'})
  %>

<body>
    <%- include ('../partials/header') %>
    <main>
        <section class="main-profile flex-column-center">
            <h1 class="text-saludo flex-column-center">
                <%= locals.userNot ? "Usuario no encontrado" : "Buscar por usuario" %>
            </h1>

            <form action="/user/search" method="post">
                <input type="text" name="searchusers" id="searchusers" />
                <button type="submit" class="secundary-button logout">Search</button>
                <% if(locals.errors && errors.searchusers) { %>
                <p><%= errors.searchusers.msg %></p>
                <% } %>
            </form>

            <div class="banner-profile flex-column-center">
                <div class="avatar">
                    <img src="/img/users/<%= user.avatar %>" class="admin" alt="" />
                </div>
            </div>

            <div class="saludo-profile flex-column-center">
                <div class="text-saludo flex-column-center">
                    <h1>Hola <%= user.username %>!</h1>
                </div>

                <div>
                    <a class="sin-estilos" href="/user/logout"><button type="button" class="secundary-button logout">
                            Logout
                        </button></a><br /><br />
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>